/* Main styles */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&Roboto:300');

/* Variables */

:root {
  --color-win: black;
  --color-lose: #351010;
  --color-start: url('../images/Gaming_images/Hero_types.jpg');
  --color-neutral: #445069;
  --color-neutral-light: #D2D2D2;
  --color-keys: #37474F;
  --color-keys-light: #E5E5E5;
  --font-size-large: 60px;
  --font-size-medium: 20px;
  --transition: all .2s ease-in-out;
}

/* main */

* {
  box-sizing: border-box;
}

body {
  justify-content: space-evenly;
  flex-direction: column;
  display: flex;
  height: 100vh;
}

li, ol, ul {
  padding: 0;
  display: inline-block;
}

h2 {
  padding-top: 50px;
  text-transform: uppercase;
  font-family: 'Bungee Outline', cursive;
  font-size: var(--font-size-large);
  margin: 0;
}

button {
  cursor: pointer;
  margin: 6px;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  color: var(--color-keys);
  font-size: var(--font-size-medium);
  background-color: var(--color-keys-light);
  border-radius: 5px;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}
footer {
	color: yellow;
	margin-top: 100px;
	text-align: center;
	background-image: url("../images/Gaming_images/Mario_level.jpg");
	height: 400px;
}

.main-container {
  background-image: url("../images/Gaming_images/Mario_level.jpg");
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  max-height: 900px;
  text-align: center;
}

.section {
  width: 100%;
  padding: 10px;
}

/* Title */

.header {
  color: var(--color-start);
 
}

/* Phrase */

.letter {
  font-size: var(--font-size-medium);
  height: 65px;
  width: 65px;
  padding: 20px 1px 0 1px;
  margin-right: 2px;
  color: transparent;
  background: var(--color-neutral-light);
  border-radius: 5px;
}

.space {
  width: 15px;
}

.show {
  color: #000;
  background-color: #76CE82;
  transition: .3s ease-in;
}

/* Keyboard */

.keyrow {
  display: flex;
  justify-content: center;
}

.chosen {
  background: var(--color-neutral);
  border-radius: 5px;
  font-size: var(--font-size-medium);
  color: #FFFFFF;
}

.btn__reset {
  padding: 8px;
  margin: 50px auto;
  background: #FFFFFF;
  border-radius: 5px;
  font-size: var(--font-size-medium);
}

/* Overlay */

#overlay {
  background-image: url("https://cdn.vox-cdn.com/thumbor/DNi26fc8Q2pyabJU_VAKEjUkTjE=/0x0:918x511/1200x800/filters:focal(386x183:532x329)/cdn.vox-cdn.com/uploads/chorus_image/image/61392789/Screen_Shot_2018_09_13_at_4.24.47_PM.0.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  position: fixed;
  color: blue;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
}

.title {
  color: blue;
  text-shadow: 1px 1px silver;
  font-weight: 900;
}

.start {
  background-color: var(--color-start);
}

.start a {
  color: var(--color-start);
}

.win {
  background-color: var(--color-win);
}

.win a {
  color: var(--color-win);
}

.lose {
  background-color: var(--color-lose);
}

.lose a {
  color: var(--color-lose);
}